[user]
	name = Yohan Beugin
	email = yohan@beugin.org
	signingkey = 0x231A4FD3ABED47C8
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[pull]
	rebase = true
[credential "https://git.overleaf.com"]
	helper = "!pass perso/siislab/overleaf"
[url "git@gitlab.madmcdan.net"]
	insteadOf = git@gitlab-siis.cse.psu.edu
